:host {
  display: block;
  position: relative;
}

/* .overflow-hidden {
  overflow: hidden;
  position: fixed;
  width: 100%;
  height: 100%;
} */

.menu-open {
  overflow: hidden;
  position: fixed;
  width: 100%;
  height: 100%;
}

aside {
  position: fixed;
  height: 100vh;
  &.md\:block {
    position: sticky;
    top: 0;
  }
}

@media (max-width: 768px) {
  .fixed {
    position: fixed;
  }

  aside {
    height: calc(100vh - 4rem);
    overflow-y: auto;
  }
}
